.vs/
/APICatalogo/APICatalogo/obj/Debug/net8.0/APICatalogo.AssemblyInfoInputs.cache
/APICatalogo/APICatalogo/obj/Debug/net8.0/APICatalogo.AssemblyInfo.cs
/APICatalogo/Data/obj/Debug/net8.0/Data.AssemblyInfo.cs
/APICatalogo/Data/obj/Debug/net8.0/Data.AssemblyInfoInputs.cache
/APICatalogo/Data/obj/Debug/net8.0/Data.csproj.AssemblyReference.cache
/APICatalogo/APICatalogo/obj/Debug/net8.0/APICatalogo.csproj.AssemblyReference.cache
