# Ignore os diretórios bin e obj para qualquer subprojeto
**/bin/
**/obj/

**/bin/Debug/
**/obj/Debug/

**/bin/Debug/net8.0/
**/obj/Debug/net8.0/

# Ignore arquivos gerados por Visual Studio
.vs/

# Ignore pastas de pacotes NuGet (se houver)
**/packages/

# Outros arquivos de build temporários do Visual Studio
*.user
*.rsuser
*.suo
*.sln.docstates

# Outros caches que não são úteis no Git
.DS_Store
Thumbs.db

**/node_modules/

